@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Philosopher:ital,wght@0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,800;1,500&family=Poppins:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h1-home {
  font-family: "Elsie", sans-serif;
  font-weight: 900;
  color: #966262;
  padding-top: 15%;
}

p {
  color: rgb(0, 0, 0);
}

.nav-item {
  margin: 0px 15px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 0.9rem;
  color: black;
}

.homecontent {
  font-family: "Philosopher", sans-serif;
  color: #ff82a9;
  padding-top: 5%;
}

.home-p {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
}

.profileImg {
  border-radius: 50%;
  justify-content: center;
  display: flex;
}
